# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# For OS X users
.DS_Store

# Linux Module
.tmp_versions
*.symvers
*.order
*.ko
.*.*.*
*.mod.c
*.o

#
*.html
